body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f3f2ea;
}

.site-header {
  background-color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  border-color: black;
}

.searchr {
  order: 2;
}

#search {
  width: 600px;
  height: 30px;
  background-color: #02594e;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 0px;
  padding-left: 40px;
}

#search::placeholder {
  color: #558d84;
  opacity: 1;
  font-size: 15px;
  padding-left: 0px;
}

#logo {
  color: white;
  font-size: 50px;
  order: 1;
}

#submit-btn{
  background-color: #8d4042;
  color: white;
  border: none;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 50px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}
#submit-btn:hover {
  background-color: #6a3334;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 20px 0;
  margin: 0;
  color: white;
}
.nav-bar {
  background-color: #1a1a1a;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cg {
  width: 150px;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cg:hover {
  background-color: #02594e;
}

.news-container {
  height: 600px;
  background-color: #fdfdfd;
  display: flex;
}